/**/
body {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 200px;
}

img {
    width: 200px;
}

.heading {
    display: flex;
}


.links {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

.intro {
    display: flex;
}

.info {
    display: flex;
}

.quote {
    display: flex;
}

.signup {
    display: flex;
}

.footer {
    display: flex;
}