/**/
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.logo {
    width: 200px;
}

img {
    width: 200px;
}

.heading {
    display: flex;
    background: #1f2937;
}


.links {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: white;
}

.intro {
    display: flex;
    background: #1f2937;
}

.intro>.leftintro>h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.intro>.leftintro>p {
    font-size: 18px;
    color: #e5e7eb;
}

.leftintro {
    display: flex;
    flex-direction: column;
    color: white;
}

.actionbutton {
    background: #3882F6;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
}

.info>h1 {
    font-size: 36px;
    font-weight: 900;
    color: 1F2937;
}

.fourinfopart {
    display: flex;
    flex-direction: row;
}

.infoitem {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
}

.quote>.quoteparag {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.signup {
    display: flex;
    flex-direction: row;
}

.signupleft {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    background: #1f2937;
}

.footer>p {
    color: white;
}